#homePage {
  padding-bottom: 40px;
  overflow: auto;
}

#homePage > * {
  margin-left: 20px;
}

#statContainer {
  /* overflow: auto; */
  overflow: visible;
  overflow: hidden;
  padding-bottom: 5px;
}

#statContainer .stat {
  float: left;
  /* min-width: 100px; */
  text-align: center;
  padding: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  /* background-color: red; */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.9);
}

#statContainer .stat h1 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
}

#statContainer .stat .unit {
  font-size: 20px;
}

#graph {
  background-color: white;
  box-shadow: var(--box-shadow);
  padding: 20px;
  border-radius: 20px;
  overflow: hidden;
  width: calc(100vw - var(--sidebar-width));
  max-width: 500px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#homePage .left {
  float: left;
}

#homePage .activiesContainer {
  float: left;
  width: calc(100vw - var(--sidebar-width));
  max-width: 500px;
  box-shadow: var(--box-shadow);
  padding: 20px;
  border-radius: 20px;
  margin-right: 20px;
  margin-top: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#homePage .activiesContainer h2 {
  margin-top: 0;
}

#homePage .activiesContainer .activity {
  background-color: var(--background-color);
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  color: white;
  overflow: auto;
}

#homePage .activiesContainer .activity p {
  float: left;
}

#homePage .activiesContainer .activity .stat {
  float: right;
}

#homePage .activiesContainer #seeMore {
  border: none;
  background: none;
  margin-left: 50%;
  transform: translateX(-50%);
  font-size: 15px;
}

#homePage #statContainer .stat {
  background-color: var(--pink);
}

#homePage #statContainer .stat:nth-of-type(2) {
  background-color: var(--blue);
}

#homePage #statContainer .stat:nth-of-type(3) {
  background-color: var(--yellow);
}

#homePage h1 {
  font-size: 40px;
  text-transform: capitalize;
  margin-bottom: 0;
}
