@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  --background-color: rgb(25, 34, 61);
  --pink: #f72585;
  --blue: #4361ee;
  --yellow: #f2a541;
  --red: #DB202C;
  --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow-x: hidden;
  --topbar-height: max(6vh, 60px);
  color: white;
  background-color: black;
}

.page {
  overflow: auto;
}

.page:last-of-type {
  height: 100vh;
}
