#sidebar {
  width: var(--sidebar-width);
  background-color: var(--background-color);
  position: fixed;
  top: 20px;
  left: 20px;
  bottom: 20px;
  border-radius: 20px;
  z-index: 1;
  padding-left: 20px;
  overflow: hidden;
  transition: width 0.2s;
  z-index: 100;
}

.sidebarExtended {
  --sidebar-width: 240px;
  box-shadow: var(--box-shadow);
}

.sidebarClosed {
  --sidebar-width: 80px;
}

#sidebar a {
  color: white;
  font-size: 20px;
  text-transform: capitalize;
  padding: 20px;
  display: block;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  position: relative;
  margin-top: 40px;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

#sidebar a b:nth-child(1) {
  position: absolute;
  top: -20px;
  left: 0px;
  height: 20px;
  width: 100%;
  background: white;
  opacity: 0;
}

#sidebar a b:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 20px;
  background: var(--background-color);
}

#sidebar a b:nth-child(2) {
  position: absolute;
  bottom: -20px;
  left: 0px;
  height: 20px;
  width: 100%;
  background: white;
  opacity: 0;
}

#sidebar .active b {
  opacity: 1 !important;
}

#sidebar a b:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top-right-radius: 20px;
  background: var(--background-color);
}

#sidebar .active {
  background-color: white;
  color: var(--background-color);
}

#sidebar a ion-icon {
  margin-right: 40px;
  font-size: 30px;
  flex-shrink: 0;
}

#sidebar .active img {
  background-color: rgb(200, 200, 200, 0.9);
}

#content {
  position: absolute;
  left: calc(var(--sidebar-width) + 40px);
  top: 0px;
  width: calc(100vw - 140px);
  bottom: 0px;
  transition: left 0.2s;
}

#logout {
  background-color: rgb(233, 58, 58);
  color: white;
  height: 40px;
  border-radius: 15px;
  font-size: 16px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
  width: calc(100% - 20px);
  overflow: hidden;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

@media only screen and (max-width: 600px) {
  #sidebar {
    top: unset;
    right: 20px;
    width: unset;
    padding: 0;
    
  }
  #content {
    left: unset;
    width: calc(100vw - 20px);
    align-items: center;
  }
  #sidebar a {
    /* width: 10px; */
    float: left;
    margin-top: 0;
    margin: 10px;
    border-radius: 20px;
  }
  #sidebar a b {
    display: none;
  }
  #sidebar a span {
    display: none;
  }
  #sidebar #logout {
    display: none;
  }
  #sidebar a ion-icon {
    margin: 0;
  }
  .sidebarExtended {
    --sidebar-width: none;
  }
}