#sidebar {
  width: var(--sidebar-width);
  background-color: rgb(25, 34, 61);
  position: fixed;
  top: 20px;
  left: 20px;
  bottom: 20px;
  border-radius: 20px;
  z-index: 1;
  padding-left: 20px;
  overflow: hidden;
  transition: width 0.2s;
  z-index: 100;
}

.sidebarExtended {
  --sidebar-width: 240px;
  box-shadow: var(--box-shadow);
}

.sidebarClosed {
  --sidebar-width: 80px;
}

#sidebar a {
  color: white;
  font-size: 20px;
  text-transform: capitalize;
  padding: 20px;
  display: block;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  position: relative;
  margin-top: 40px;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

#sidebar a b:nth-child(1) {
  position: absolute;
  top: -20px;
  left: 0px;
  height: 20px;
  width: 100%;
  background: white;
  opacity: 0;
}

#sidebar a b:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 20px;
  background: rgb(25, 34, 61);
}

#sidebar a b:nth-child(2) {
  position: absolute;
  bottom: -20px;
  left: 0px;
  height: 20px;
  width: 100%;
  background: white;
  opacity: 0;
}

#sidebar .active b {
  opacity: 1 !important;
}

#sidebar a b:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top-right-radius: 20px;
  background: rgb(25, 34, 61);
}

#sidebar .active {
  background-color: white;
  color: rgb(25, 34, 61);
}

#sidebar a ion-icon {
  margin-right: 40px;
  font-size: 30px;
  flex-shrink: 0;
}

#sidebar .active img {
  background-color: rgb(200, 200, 200, 0.9);
}

#content {
  position: absolute;
  left: calc(40px + 80px);
  top: 0px;
  right: 0px;
  bottom: 0px;
  transition: left 0.2s;
}

#logout {
  background-color: rgb(233, 58, 58);
  color: white;
  height: 40px;
  border-radius: 15px;
  font-size: 16px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
  width: calc(100% - 20px);
  overflow: hidden;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
