#mapPage {
  display: flex;
}

#mapPage .leaflet-container {
  width: 75%;
  height: calc(100vh - 40px);
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  z-index: 0;
}

#mapPage #details {
  flex-grow: 1;
  margin: 20px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  padding-left: 20px;
}

#mapPage #details .progressOuter {
  background-color: #ddd;
  width: calc(100% - 20px);
  overflow: hidden;
  height: 10px;
  border-radius: 100px;
}

#mapPage #details .progressInner {
  background-color: var(--blue);
  height: 100%;
  width: 75%;
  border-radius: 100px;
  animation: loadProgress 0.5s forwards;
}

@keyframes loadProgress {
  from {
    width: 0;
  }
}
